
*.jupyterlab-workspace
.ipynb_checkpoints/Numerical Variable Analysis-checkpoint.ipynb
.ipynb_checkpoints/feature_analysis-checkpoint.ipynb
Cleansing the data/.ipynb_checkpoints/result clean data-checkpoint.csv
Cleansing the data/.ipynb_checkpoints/Clean_Data-checkpoint.csv
